body{
    background-image: url(../Survey/background.jpg);
    font-family: sans-serif;
    color:white;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
  
  h1, p{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .general{
    width: 80%;
    background-color:hsla(219, 69%, 34%, 0.5);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


/*Radio Button Starts*/

/* The container */
.friend-recommend {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.friend-recommend input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.friend-recommend:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.friend-recommend input:checked ~ .checkmark {
  background-color: #19376D;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.friend-recommend input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.friend-recommend .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*Radio Button Ends*/

/*Checkbox starts*/

/* The container */
.like-improve {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.like-improve input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.like-improve:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.like-improve input:checked ~ .checkmark {
  background-color: #19376D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.like-improve input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.like-improve .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Checkbox Ends*/

/*Textarea Starts*/

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
/*Textarea Ends*/

/*Button Starts*/
button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
 margin-top: 30px;
}
/*Button Ends*/

